<div class="main" layout="row">
    <div flex>
        <div ng-repeat="thing in things">
            <stat-card data="d"></stat-card>
            <md-divider ng-if="!$last"></md-divider>
        </div>
        <div class="fullScreen" layout="row"  layout-align="center center">
            <div class="center-screen">
                <div ng-if="isEmpty()">
                <h1>Tomt!</h1>
                <p>Det er visst ikke noe statistikk her :/</p>
                </div>
                <div class="cornerButton" flex="100" layout="row" layout-align="center center">
                    <md-button class="md-fab statCard-btn" aria-label="Eat cake" ng-click="addCard()">
                        <ng-md-icon class="btnIcon" icon="add" style="fill:white"></ng-md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</div>